body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.type-chooser {

}

.chooser-span {
  margin: 0 10px;
  padding: 5px;
  &.checked {
    color: #fff;
    background-color: #2F6FAD;
    border-radius: 3px;
  }
}

.input-field {
  margin: 20px 0;
  input {
    font-size: 16px;
    width: 300px;
  }
}